@model FitChildPanel.Models.Entity.TBLONERI
@{
    ViewBag.Title = "IslemGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("IslemGuncelle", "Oneri", FormMethod.Post, new { @class = "was-validated" }))
{
    @Html.AntiForgeryToken();

    <div style="margin-bottom:15px;">
        <div class="form-group">
            @Html.Label("İşlem Tarihi:")
            @Html.Label(DateTime.Now.ToLongDateString())
        </div>
        <div class="form-group">
            @Html.LabelFor(k => k.OneriAdi)
            @Html.TextBoxFor(k => k.OneriAdi, new { @class = "form-control", placeholder = "Öneri Adı", required = "required" })

        </div>
        <div class="form-group">
            @Html.LabelFor(k => k.OneriFayda)
            @Html.TextAreaFor(k => k.OneriFayda, new { @class = "form-control", placeholder = "Öneri Fayda", required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(k => k.OneriTavsiye)
            @Html.TextAreaFor(k => k.OneriTavsiye, new { @class = "form-control", placeholder = "Öneri Tavsiye", required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(k => k.OneriCalisanBolge)
            @Html.TextAreaFor(k => k.OneriCalisanBolge, new { @class = "form-control", placeholder = "Öneri Çalışan Bölge", required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(k => k.OneriResim)
            @Html.TextBoxFor(k => k.OneriResim, new { @class = "form-control", placeholder = "Öneri Resim", required = "required" })
        </div>

    </div>

    <div>
        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
    @Html.HiddenFor(y => y.ID)
}

