@using FitChildPanel.Models.Entity
@model List<TBLEGZERSIZ>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Egzersizler</h2>
<hr />
@Html.ActionLink("Yeni Egzersiz", "IslemEkle", null, new { @class = "btn btn-dark" })
<br />
<br />
@if (TempData["egzersizData"] != null)
{
<div class="alert alert-success alert-dark">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Egzersiz </strong> @TempData["egzersizData"]
</div>
}
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Resim</th>
            <th>Ad</th>
            <th>Yapılışı</th>
            <th>Fayda</th>
            <th>Seviye</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var egzersiz in Model)
        {
            <tr>
                <td>@egzersiz.ID</td>
                <td>
                    <img class="img-fluid" src="@egzersiz.EgzersizResim" alt="" />
                </td>
                <td>@egzersiz.EgzersizAdi</td>
                <td>@egzersiz.EgzersizYapilisi</td>
                <td>@egzersiz.EgzersizFayda</td>
                <td>@egzersiz.EgzersizSeviye</td>
                <td><a href="/Egzersiz/IslemGetir/@egzersiz.ID" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Egzersiz/IslemSil/@egzersiz.ID" class="btn btn-danger" onclick="return confirm('Silmek istiyor musunuz?')">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
